
:root {
    --primary: #ffffff;
    --complementary: #111827;
    --highlight: #556b57;
    --brand: #84edac;
    --primaryfont:  "Prata", serif;
    --secondaryfont: "Roboto", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.hero{
    height: 650px;
}

