
:root {
    --primary: #ffffff;
    --complementary: #111827;
    --highlight: #556b57;
    --brand: #84edac;
    --primaryfont:  "Roboto", serif;
    --secondaryfont: "Roboto", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#h1{
    font-family: var(--primaryfont);
    font-size: 10px;
}