/* ROOT CSS VARIABLES */
:root {
    --primary: #ffffff;
    --complementary: #111827;
    --highlight: #374151;
    --brand: #6366f1;
}

/* GENERAL CSS */
/* body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */
h1 {
    margin-top: -1rem;
    font-weight: lighter;
    color: var(--complementary);
}
h2 {
    font-weight: lighter;
    text-align: center;
    margin-bottom: 1rem;
}
h5 {
    font-weight: light;
}

/* HEADER */
#logo img {
    width: 20%;
    margin: 1rem 0 0 0;
}
h1 span {
    font-weight: bold;
    color: var(--brand);
}

/* FOOTER */
.footer {
    display: block;   
}

/* CONTAINER CSS */
.container {
    width: 70vw;
}

/* NAVBAR */
/* Unvisited link */
 a:link {
    color: var(--complementary);
}
/* Visited link */
 a:visited {
    color: var(--highlight);
}
/* Mouseover link */
 a:hover {
    color: var(--brand);
}
/* Selected link */
 a:active {
    color: var(--brand);
}

/* BUTTON: PRIMARY (OVERWRITES BOOTSTRAP) */
.btn-primary {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-primary:focus {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-primary:active {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}
.btn-primary:visited {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}

/* BUTTON: SECONDARY (OVERWRITES BOOTSTRAP) */
.btn-secondary {
    color: #fff !important;
    background-color: #445EA0;
    border-color: #445EA0;
}
.btn-secondary:hover {
    color: #fff !important;
    background-color: #1A2B63;
    border-color: #1A2B63;
}
.btn-secondary:active {
    color: #fff !important;
    background-color: #445EA0;
    border-color: #445EA0;
}
.btn-secondary:visited {
    color: #fff !important;
    background-color: #445EA0;
    border-color: #445EA0;
}

/* BUTTON: DANGER (OVERWRITES BOOTSTRAP) */
.btn-danger {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}
.btn-danger:hover {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-danger:focus {
    color: #fff !important;
    background-color: #B7092B;
    border-color: #B7092B;
}
.btn-danger:active {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}
.btn-danger:visited {
    color: #fff !important;
    background-color: #FE3745;
    border-color: #FE3745;
}

/* POSTS PAGE */
.post-image {
    height: 20rem;
    object-fit: cover;
}
.card {
    position: relative;
}
.admin-btn {
    position: absolute;
    top: 0rem;
    right: .5rem;
}